[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uild/
[Ll]ogs/
UserSettings/
[Uu][Ii]/

MemoryCaptures/
Recordings/

.vs/
.gradle/
ExportedObj/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.DS_Store
Thumbs.db

.utmp/
*.keystore