# Ignore everything
*

# Keep important Unity folders
!Assets/
!Packages/
!ProjectSettings/

# Keep their contents
!Assets/**
!Packages/**
!ProjectSettings/**

# Keep README and gitignore
!.gitignore
!README.md
!README

# Ignore Unity generated folders
Library/
Logs/
Temp/
Obj/
UserSettings/

# Ignore IDE/editor files
.vscode/
.vs/
.idea/

# Ignore solution/project files
*.csproj
*.sln
*.slnx
*.unityproj
*.pidb
*.suo
*.user
*.userprefs

# Ignore build files
Builds/
*.apk
*.aab

# Ignore keystore/security files
*.keystore

# Ignore random folders
UI/
.utmp/